body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
  scroll-margin-block: 100vh;
}
a {
  color: #fff;
  text-decoration: none;
}
#design_cards_container {
  grid-gap: 15px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
  padding: 30px 20px;
  place-items: center;
}
#card {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  position: relative;
  width: 300px;
}
#delete_update_icons_design_card {
  background-color: #4e4e4e;
  position: absolute;
  right: 5px;
  top: 10px;
}
#delete_update_icons_design_card > svg {
  color: #fff;
  cursor: pointer;
  margin-inline: 3px;
  z-index: 1000;
}
#card_content {
  padding-block: 20px;
  text-align: center;
}
#card_content > h1 {
  color: #131111;
  font-size: 20px;
}
@media (max-width: 550px) {
  #card {
    width: 90vw;
  }
}
#loading_cards_container {
  grid-gap: 25px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
  padding: 30px 20px;
  place-items: center;
}
#loading_card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
#loading_card_content {
  width: calc(100% - 20px);
}
#loading_card_content > h2,
#loading_card_content > p,
#loading_card_image {
  -webkit-animation: shine 1s linear infinite;
  animation: shine 1s linear infinite;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  border-radius: 5px;
}
#loading_card_image {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 200px;
}
#loading_card_content {
  padding: 20px;
}
#loading_card_content > h2 {
  height: 30px;
  margin-block: 5px;
}
#loading_card_content > p {
  height: 70px;
  margin-block: 5px;
  width: 80%;
}
@-webkit-keyframes shine {
  to {
    background-position-x: -200%;
  }
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
@media (max-width: 550px) {
  #loading_card {
    width: 90%;
  }
}
.vertical-timeline * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.vertical-timeline {
  margin: 0 auto;
  max-width: 1170px;
  padding: 2em 0;
  position: relative;
  width: 95%;
}
.vertical-timeline:after {
  clear: both;
  content: '';
  display: table;
}
.vertical-timeline:before {
  background: var(--line-color);
  content: '';
  height: 100%;
  left: 18px;
  position: absolute;
  top: 0;
  width: 4px;
}
.vertical-timeline.vertical-timeline--one-column-right:before {
  left: auto;
  right: 18px;
}
@media only screen and (min-width: 1170px) {
  .vertical-timeline.vertical-timeline--two-columns {
    width: 90%;
  }
  .vertical-timeline.vertical-timeline--two-columns:before {
    left: 50%;
    margin-left: -2px;
  }
}
.vertical-timeline-element {
  margin: 2em 0;
  position: relative;
}
.vertical-timeline-element > div {
  min-height: 1px;
}
.vertical-timeline-element:after {
  clear: both;
  content: '';
  display: table;
}
.vertical-timeline-element:first-child {
  margin-top: 0;
}
.vertical-timeline-element:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .vertical-timeline-element {
    margin: 4em 0;
  }
  .vertical-timeline-element:first-child {
    margin-top: 0;
  }
  .vertical-timeline-element:last-child {
    margin-bottom: 0;
  }
}
.vertical-timeline-element-icon {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}
.vertical-timeline--one-column-right .vertical-timeline-element-icon {
  left: auto;
  right: 0;
}
.vertical-timeline-element-icon svg {
  display: block;
  height: 24px;
  left: 50%;
  margin-left: -12px;
  margin-top: -12px;
  position: relative;
  top: 50%;
  width: 24px;
}
@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    height: 60px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
  }
}
.vertical-timeline-element-icon {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}
.vertical-timeline--animate .vertical-timeline-element-icon.is-hidden {
  visibility: hidden;
}
.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
  -webkit-animation: cd-bounce-1 0.6s;
  animation: cd-bounce-1 0.6s;
  visibility: visible;
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.vertical-timeline-element-content {
  background: #fff;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 3px 0 #ddd;
  box-shadow: 0 3px 0 #ddd;
  margin-left: 60px;
  padding: 1em;
  position: relative;
}
.vertical-timeline--one-column-right .vertical-timeline-element-content {
  margin-left: 0;
  margin-right: 60px;
}
.vertical-timeline-element--no-children .vertical-timeline-element-content {
  background: 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.vertical-timeline-element-content:after {
  clear: both;
  content: '';
  display: table;
}
.vertical-timeline-element-content h2 {
  color: #303e49;
}
.vertical-timeline-element-content .vertical-timeline-element-date,
.vertical-timeline-element-content p {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 500;
}
.vertical-timeline-element-content .vertical-timeline-element-date {
  display: inline-block;
}
.vertical-timeline-element-content p {
  line-height: 1.6;
  margin: 1em 0 0;
}
.vertical-timeline-element-subtitle,
.vertical-timeline-element-title {
  margin: 0;
}
.vertical-timeline-element-content .vertical-timeline-element-date {
  float: left;
  opacity: 0.7;
  padding: 0.8em 0;
}
.vertical-timeline-element-content-arrow {
  border: 7px solid transparent;
  border-right-color: #fff;
  content: '';
  height: 0;
  position: absolute;
  right: 100%;
  top: 16px;
  width: 0;
}
.vertical-timeline--one-column-right .vertical-timeline-element-content-arrow {
  border: 7px solid transparent;
  border-left-color: #fff;
  content: '';
  height: 0;
  left: 100%;
  position: absolute;
  right: auto;
  top: 16px;
  width: 0;
}
.vertical-timeline--one-column-right .vertical-timeline-element-content:before {
  border-left: 7px solid #fff;
  border-right: initial;
  left: 100%;
}
.vertical-timeline-element--no-children
  .vertical-timeline-element-content-arrow,
.vertical-timeline-element--no-children
  .vertical-timeline-element-content:before {
  display: none;
}
@media only screen and (min-width: 768px) {
  .vertical-timeline-element-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .vertical-timeline-element-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .vertical-timeline-element-content .vertical-timeline-element-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-content {
    margin-left: 0;
    padding: 1.5em;
    width: 44%;
  }
  .vertical-timeline--two-columns .vertical-timeline-element-content-arrow {
    left: 100%;
    top: 24px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .vertical-timeline--two-columns
    .vertical-timeline-element-content
    .vertical-timeline-element-date {
    font-size: 16px;
    font-size: 1rem;
    left: 124%;
    position: absolute;
    top: 6px;
    width: 100%;
  }
  .vertical-timeline--two-columns
    .vertical-timeline-element.vertical-timeline-element--right
    .vertical-timeline-element-content,
  .vertical-timeline--two-columns
    .vertical-timeline-element:nth-child(2n):not(
      .vertical-timeline-element--left
    )
    .vertical-timeline-element-content {
    float: right;
  }
  .vertical-timeline--two-columns
    .vertical-timeline-element.vertical-timeline-element--right
    .vertical-timeline-element-content-arrow,
  .vertical-timeline--two-columns
    .vertical-timeline-element:nth-child(2n):not(
      .vertical-timeline-element--left
    )
    .vertical-timeline-element-content-arrow {
    left: auto;
    right: 100%;
    top: 24px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  .vertical-timeline--one-column-right
    .vertical-timeline-element.vertical-timeline-element--right
    .vertical-timeline-element-content-arrow,
  .vertical-timeline--one-column-right
    .vertical-timeline-element:nth-child(2n):not(
      .vertical-timeline-element--left
    )
    .vertical-timeline-element-content-arrow {
    left: 100%;
    right: auto;
    top: 24px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  .vertical-timeline--two-columns
    .vertical-timeline-element.vertical-timeline-element--right
    .vertical-timeline-element-content
    .vertical-timeline-element-date,
  .vertical-timeline--two-columns
    .vertical-timeline-element:nth-child(2n):not(
      .vertical-timeline-element--left
    )
    .vertical-timeline-element-content
    .vertical-timeline-element-date {
    left: auto;
    right: 124%;
    text-align: right;
  }
}
.vertical-timeline--animate .vertical-timeline-element-content.is-hidden {
  visibility: hidden;
}
.vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
  -webkit-animation: cd-bounce-2 0.6s;
  animation: cd-bounce-2 0.6s;
  visibility: visible;
}
@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns.vertical-timeline--animate
    .vertical-timeline-element.vertical-timeline-element--right
    .vertical-timeline-element-content.bounce-in,
  .vertical-timeline--two-columns.vertical-timeline--animate
    .vertical-timeline-element:nth-child(2n):not(
      .vertical-timeline-element--left
    )
    .vertical-timeline-element-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@media only screen and (max-width: 1169px) {
  .vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
    visibility: visible;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  to {
    -webkit-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  to {
    -webkit-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.top_header {
  background-color: rgba(12, 28, 80, 0.84);
}
.top_header > nav {
  height: 100%;
  height: 70px;
  transition: all 0.5s ease-out;
}
.top_header > nav > ul {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
.top_header > nav > ul > li {
  list-style-type: none;
}
.top_header > nav > ul > li > a {
  color: #fff;
  font-family: Georgia, Times New Roman, Times, serif;
  font-size: 20px;
  padding: 5px 10px;
  text-decoration: none;
}
.toggle_menu {
  display: none;
  height: 100%;
  width: 100%;
}
.toggle_menu > .slide > button {
  -webkit-padding-end: 10px;
  background-color: initial;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 70px;
  justify-content: center;
  padding-inline-end: 10px;
}
.menu_line {
  background-color: #fff;
  height: 5px;
  width: 20px;
}
@media (max-width: 550px) {
  .toggle_menu {
    -webkit-padding-end: 10px;
    height: 100%;
    justify-content: flex-end;
    padding-inline-end: 10px;
    width: 100%;
  }
  .col1,
  .toggle_menu {
    align-items: center;
    display: flex;
  }
  .col1 {
    justify-content: center;
    padding: 0;
  }
  #open {
    height: 100vh;
  }
  #open > ul {
    -webkit-margin-before: 30%;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    margin-block-start: 30%;
  }
  #close {
    height: 0;
  }
  #close > ul {
    display: none;
  }
}
footer {
  -webkit-padding-before: 40px;
  -webkit-padding-after: 20px;
  align-items: center;
  background-color: #21325e;
  color: #fff;
  display: flex;
  flex-wrap: wrap-reverse;
  font-size: smaller;
  height: 120px;
  justify-content: space-between;
  padding-block-end: 20px;
  padding-block-start: 40px;
  padding-inline: 15vw;
}
#social_media_icons_footer > a {
  color: #fff;
  margin-inline: 5px;
  text-decoration: none;
}
#hero_section {
  align-items: center;
  background: linear-gradient(
      90deg,
      rgba(12, 28, 80, 0.85),
      rgba(56, 58, 63, 0.85)
    ),
    url(/static/media/abdulmohiz.925cf3981f9cc7bb9b96.jpg);
  background-position: 0 5%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  padding-inline: 20px;
}
#col1,
#col2 {
  height: 100%;
}
#col1 {
  -webkit-padding-before: 70px;
  -webkit-padding-start: 100px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-block-start: 70px;
  padding-inline-start: 100px;
  width: 100%;
}
#hero_section_text h1 {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
#hero_section_text #first_heading {
  color: #e0cd5e;
  font-size: clamp(28px, 7%, 40px);
}
#hero_section_text #second_heading {
  -webkit-padding-before: 10px;
  color: #e0cd5e;
  font-size: clamp(38px, 8em, 50px);
  line-height: 50px;
  padding-block-start: 10px;
}
#lower_p {
  -webkit-padding-before: 25px;
  font-size: 16px;
  padding-block-start: 25px;
}
#social-media-icons-hero {
  -webkit-margin-before: 25px;
  margin-block-start: 25px;
}
#social-media-icons-hero > a {
  color: #fff;
  text-decoration: none;
}
#social-media-icons-hero svg {
  font-size: 30px;
  margin-inline: 5px;
}
@media (max-width: 1000px) {
  #col1 {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
    text-align: center;
  }
  #hero_section {
    background-position: 50%;
  }
}
#skill_section {
  margin: auto;
  padding-block: 60px;
  width: 70%;
}
#skill_section h1 {
  color: #21325e;
}
#skill_section > .zoom > h1 {
  font-size: 3rem;
  margin: auto;
  text-align: center;
}
#skill_section > ul {
  -webkit-padding-before: 35px;
  list-style-type: none;
  padding-block-start: 35px;
}
#skill_section > ul > li {
  padding-block: 10px;
}
#skill_section > ul > li > h1 {
  font-size: xx-large;
}
#skill_section > ul > li > p {
  -webkit-padding-before: 30px;
  font-size: medium;
  padding-block-start: 30px;
  width: min(400px, 90%);
}
#brief_description {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
}
#brief_description > .slide > #brief_image {
  background: url(/static/media/abdulmohiz2.19b2586acf778f3af48d.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #f5f5f5;
  border-radius: 50%;
  height: 230px;
  outline: 3px solid #233150;
  width: 230px;
}
#brief_content {
  -webkit-padding-before: 15px;
  padding-block-start: 15px;
  text-align: center;
}
#brief_content > h1 {
  -webkit-margin-after: 8px;
  color: #3e497a;
  font-size: xx-large;
  margin-block-end: 8px;
}
#brief_content > p {
  color: #3d3f49;
  font-size: large;
  line-height: normal;
}
#brief_content > span {
  background-color: red;
  height: 10px;
  width: 20px;
}
#design_detail {
  padding-block: 50px;
  padding-inline: 50px;
}
#main_design_detail {
  align-items: flex-start;
  border-radius: 10px 10px;
  box-shadow: 3px 3px 10px 3px gray;
  display: flex;
  height: -webkit-max-content;
  height: max-content;
  justify-content: flex-start;
  margin: auto;
  position: relative;
  width: 70%;
}
#detail_page_col1,
#detail_page_col2 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#detail_page_col1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#detail_page_col2 {
  -webkit-padding-before: 40px;
  padding-block-start: 40px;
  padding-inline: 30px;
  width: 45%;
}
#detail_page_image {
  cursor: pointer;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#detail_page_image > img {
  border-radius: 10px 10px 10px 10px;
  height: 100%;
  object-fit: contain;
  width: 100%;
}
#detail_page_col2 > p {
  -webkit-padding-before: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  padding-block-start: 20px;
  width: min(400px, 100%);
}
#fullImageDiv {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: none;
  height: 140%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#fullImage_container {
  -webkit-margin-before: 7vmin;
  align-items: center;
  color: #fff;
  display: flex;
  height: 90vmin;
  justify-content: center;
  margin-block-start: 7vmin;
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#fullImage {
  background-color: #000;
  border: 2px solid #fff;
  height: 100%;
  margin-block: 10px;
  object-fit: cover;
  object-fit: contain;
  width: 100%;
}
#fullImageDiv > svg {
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 30px;
  z-index: 1000;
}
#delete_update_icons_design_detail {
  background-color: #4e4e4e;
  position: absolute;
  right: 5px;
  top: 10px;
}
#delete_update_icons_design_detail > svg {
  color: #fff;
  cursor: pointer;
  margin-inline: 3px;
  z-index: 1000;
}
@media (max-width: 1000px) {
  #design_detail {
    padding-inline: 30px;
  }
  #main_design_detail {
    -webkit-padding-before: 0;
    -webkit-padding-after: 0;
    padding-block-end: 0;
    padding-block-start: 0;
    padding-inline: 0;
    width: 99%;
  }
  #detail_page_col1 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  #detail_page_image {
    width: 100%;
  }
  #detail_page_image > img {
    border-radius: 10px 10px 10px 10px;
  }
  #detail_page_col2 {
    -webkit-padding-before: 20px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-block-start: 20px;
    width: 100%;
  }
  #detail_page_col2 > p {
    width: 100%;
  }
}
@media (max-width: 600px) {
  #design_detail {
    padding-block: 20px;
    padding-inline: 30px;
  }
  #detail_page_col2 {
    text-align: center;
  }
  #main_design_detail {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  #fullImage_container {
    -webkit-margin-before: 90px;
    -webkit-margin-start: 5%;
    margin-block-start: 90px;
    margin-inline-start: 5%;
    position: fixed;
  }
}
#admin_page {
  display: flex;
  padding-block: 7vmin;
}
#inputs {
  -webkit-padding-start: 20px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-block: 100px;
  padding-inline-start: 20px;
  width: 35%;
}
#inputs > input,
textarea {
  border: none;
  border-radius: 8px;
  color: #000;
  font-family: sans-serif;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px 15px;
  width: 70%;
}
#inputs > textarea {
  height: auto;
  padding-top: 10px;
}
#preview {
  -webkit-margin-before: 5px;
  -webkit-margin-after: 30px;
  align-items: center;
  border-radius: 10px 10px;
  box-shadow: 3px 3px 10px 3px gray;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: flex-start;
  margin-block-end: 30px;
  margin-block-start: 5px;
  margin-inline: auto;
  width: 60%;
}
#preview_h1 {
  font-family: Courier New, Courier, monospace;
  padding-block: 20px;
  text-align: center;
}
#preview_image_h1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  width: 55%;
}
#preview_image {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#preview_image > img {
  border-radius: 10px 10px 10px 10px;
  height: 100%;
  object-fit: contain;
  width: 100%;
}
#preview_description {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
  width: min(350px, 45%);
}
#preview_description > p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  padding-block: 10px;
}
#design_submit_button {
  background-color: #233150;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-family: sans-serif;
  font-size: medium;
  outline: none;
  padding-block: 10px;
  padding-inline: 30px;
}
@media (max-width: 1054px) {
  #admin_page {
    -webkit-padding-before: 70px;
    flex-direction: column;
    padding-block-start: 70px;
  }
  #preview {
    width: 90%;
  }
  #preview_description,
  #preview_image,
  #preview_image_h1 {
    width: 100%;
  }
  #preview_description > h1 {
    text-align: center;
  }
  #inputs {
    align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-block: 40px;
    width: 100%;
  }
}
@media (max-width: 600px) {
  #preview {
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    width: 90%;
  }
  #admin_page {
    -webkit-padding-before: 0;
    padding-block-start: 0;
  }
  #preview_image {
    width: 100%;
  }
  #preview_description {
    text-align: center;
  }
  #preview_description > h1 {
    -webkit-padding-after: 10px;
    margin-inline: auto;
    padding-block-end: 10px;
  }
}
/*# sourceMappingURL=main.03475793.css.map*/
